{% extends 'RoomBookingEngineBundle:Default:confirm.html.twig' %}

 {% block form %}
                                         <div class="col-sm-12 box make-margin">
                                        	<h5 class="box-title">Your Information</h5>
                                        	 <div class="box-content row">
                                        	 	{{ form_start(form) }}
                                        	
                                                 
         
         	            <div class="row booking-price-details">
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                                {{ form_widget(form.name,{'attr':{'class':'make-margin','placeholder':'Name'}}) }}
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                               {{ form_widget(form.email,{'attr':{'class':'make-margin','placeholder':'Email'}}) }}
                                            </div>
                                            <div class="col-md-12 col-sm-12 col-xs-12">
                                            {{ form_widget(form.mobile,{'attr':{'class':'make-margin','placeholder':'10 Digit Mobile No'}}) }} 
                                            </div>
                                             <div class="row">
                                            <div class="col-md-6 col-sm-6 col-xs-12">
                                            
                                             <div class="col-md-12 col-sm-12 col-xs-12">
                                                <div class="input-group" id="couponCode">
                                                {{ form_widget(form.couponCode,{'attr':{'placeholder':'Enter a Coupon code'}}) }}
                                                    <a class="input-group-addon" id="apply" href="#">Apply</a>
                                                </div>
                                                <div class="row form-group has-error">
                                                    <ul class="errors help-block">
                                                        <li id="coupon-error" style="display:none">Invalid Coupon</li>
                                                    </ul>
                                                </div>
                                            	</div>
                                               </div>
                                            
                                                
                                            </div>
                                            <div class="make-margin"></div>
                                             
                                             <div class="col-md-8 col-sm-8 col-xs-12">
                                                <input type="checkbox" required="required" name="cb" class="remove_margin">  {% trans %} I agree to the {% endtrans%} <a target="_blank" href="#">{% trans %} Terms of Service{% endtrans%}</a>
                                            </div>
                                             <div class="col-md-4 col-sm-4 col-xs-12">
                                                <button type="submit" class="btn btn-primary btn-block btn-lg"> Continue</button>
                                            </div>
                                            
                                            {# <input type="text" class="form-control make-margin" placeholder="Country of Passport">  #}
                                           
                                        </div>
         
          						{{ form_end(form) }}
 </div>
                                        </div>
       {% endblock %}