{% extends 'page.html.twig' %}

{# {% block breadcrumbsTitle %}About Us{% endblock %}#}

{# {% block breadcrumbsLinks %}#}
{#             <li><a href="{{ path('room_booking_engine_homepage') }}">Home</a></li>#}
{#             <li><a href="{{ path('room_site_management_about_us') }}">About Us</a></li>#}
{# {% endblock %}#}

{% block body %}

 <!-- Start Contact-Form -->
  <div class="container">
    <div class="contact-box">
     {{ form_start(form) }}
      <form action="#" class="contact-form default-form">
        <div class="row">
          <div class="col-md-12">
            <div class="preamble col-md-12">
              <h3>Get in touch</h3>
            </div>
           
          </div>
          <div class="col-md-6">
           	{{ form_widget(form.name) }}
          </div>
          <div class="col-md-6">
          {{ form_widget(form.mobile) }}
           
          </div>
          <div class="col-md-6">
          {{ form_widget(form.email) }}
           
          </div>
          <div class="col-md-6">
          {{ form_widget(form.subject) }}
           
          </div>
          <div class="col-md-12">
          {{ form_widget(form.message) }}
           
          </div>
          <div class="col-lg-md text-center">
            <button class="btn btn-transparent-white">Send Message</button>
          </div>
        </div>
      {{ form_end(form) }}
    </div>
  </div>
  <!-- End Contact-Form -->
  
  <!-- Start Contact-Map  -->
  <div id="contact-map">
  </div>
  <!-- End Contact-Map -->

  <!-- Start Contact -->
  <section class="contact">
    <div class="container">
      <div class="locations">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="offices">
            <h3 class="title">
              Switzerland Office
            </h3>
            <h5 class="sub-title">Office</h5>
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <ul class="location-details custom-list">
                  <li>PO Box 16122 Collins Street West</li>    
                  <li>Victoria 8007 Australia</li>
                  <li>Envato Headquarters</li>
                </ul>
              </div>
              <div class="col-lg-6 col-md-6">
                <ul class="location-details custom-list">
                  <li>Phone 1: +61 3 8376 6284</li>
                  <li>Phone 2: +61 3 8376 6284</li>
                  <li>Fax 1: +61 3 8376 6284</li>
                </ul>
              </div>
              <div class="col-lg-6 col-md-6">
                <ul class="location-details custom-list">
                  <li>121 King Street, Melbourne</li>
                  <li>Victoria 8007 Australia</li>
                  <li>Envato Pty Ltd</li>
                </ul>
              </div>
              <div class="col-lg-6 col-md-6">
                <ul class="location-details custom-list">
                  <li>Email 1: roman.ul.ferdosh@gmail.com</li>
                  <li>Website 1: www.example.com</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="offices">
            <h3 class="title">
              Poland Office
            </h3>
            <h5 class="sub-title">Office</h5>
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <ul class="location-details custom-list">
                  <li>PO Box 16122 Collins Street West</li>    
                  <li>Victoria 8007 Australia</li>
                  <li>Envato Headquarters</li>
                </ul>
              </div>
              <div class="col-lg-6 col-md-6">
                <ul class="location-details custom-list">
                  <li>Phone 1: +61 3 8376 6284</li>
                  <li>Phone 2: +61 3 8376 6284</li>
                  <li>Fax 1: +61 3 8376 6284</li>
                </ul>
              </div>
              <div class="col-lg-6 col-md-6">
                <ul class="location-details custom-list">
                  <li>121 King Street, Melbourne</li>
                  <li>Victoria 8007 Australia</li>
                  <li>Envato Pty Ltd</li>
                </ul>
              </div>
              <div class="col-lg-6 col-md-6">
                <ul class="location-details custom-list">
                  <li>Email 1: example@example.com</li>
                  <li>Email 2: concierge@concierge.com</li>
                  <li>Website 1: www.example.com</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact -->

{% endblock %}